<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common::head(title='Receptek')">
</head>
<body>
<div th:replace="fragments/common::#header_menu"></div>
<div id="all_recipes">
    <div class="w3-container" id="where" style="padding-bottom:32px;">
        <div class="w3-content" style="max-width:700px">
            <table>
                <tr>
                    <th>Név</th>
                    <th>Típus</th>
                </tr>
                <tr v-for="recipe in allRecipes">
                    <td class="w3-large">{{recipe.name}}</td>
                    <td>{{recipe.type}}</td>
                    <td>
                        <button v-on:click="open(recipe.id)" class="w3-button w3-black">Megnyitás</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="scripts/all_recipes.js"></script>


</body>
</html>