<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common::head(title='Főoldal')">
</head>
<body>
<div th:replace="fragments/common::#header_menu"></div>
<div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
        <img src="../images/greeting.jpg" class="w3-round w3-image w3-opacity-min" alt="greeting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
        <h1 class="w3-center">Recipe sharing</h1><br>
        <h5 class="w3-center">Tradition since now</h5>
        <p class="w3-large">Please leave a delicious recipe here! Just click on the "New recipe" button. We love new and exotic recipes!</p>
    </div>
</div>
</body>
</html>