<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head(title='login')"></head>
<body>
<div class="login" >
    <div class="w3-container" id="where" style="padding-bottom:32px;">
        <div class="w3-content" style="max-width:700px">
            <form method="post" th:action="@{/login}">
                <div>
                    <input  id="username" type="text" name="username" th:placeholder="#{login.userName}" class="w3-input w3-padding-16 w3-border"/>
                </div>
                <div>
                    <input id="password" type="password" name="password" th:placeholder="#{login.password}" class="w3-input w3-padding-16 w3-border"/>
                </div>
                <div>
                    <input type="submit"  th:value="#{login.login}" class="w3-button w3-black"/>
                </div>
            </form>
            <div th:if="${param.error}">
                <p th:text="#{login.error}">Invalid username and password.</p>
            </div>
            <div th:if="${param.logout}">
                <p th:text="#{login.loggedOut}" >You have been logged out.</p>
            </div>
        </div>
    </div>

</div>
</body>
</html>
