<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head(title='login')"></head>
<body>
<div class="login">
    <form method="post" th:action="@{/login}">
        <div>
            <label for="username">Username</label>
            <input id="username" type="text" name="username"/>
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" type="password" name="password"/>
        </div>
        <div>
            <input type="submit"  value="Log in"/>
        </div>
    </form>
    <div th:if="${param.error}">
        <p>Invalid username and password.</p>
    </div>
    <div th:if="${param.logout}">
        <p >You have been logged out.</p>
    </div>
</div>
</body>
</html>
