<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/common::head(title=${recipe.get().name})">
</head>
<body>
<div th:replace="fragments/common::#header_menu"></div>
<div id="recipe_details">
    <div class="w3-row w3-padding-64">
        <div class="w3-col l6 w3-padding-large">
            <form id="recipeModel">
                <input name="recipeId" type="hidden" th:value="${recipe.get().id}"></input>
                <h2 name="recipeName" th:text="${recipe.get().name}"></h2>
                <label name="recipeType" th:text="${recipe.get().type}"></label>
                <input type="hidden" name="recipeImage" th:value="${recipe.get().image}">
                <p name="recipeDescription" th:text="${recipe.get().description}"></p>
            </form>
        </div>
        <div class="w3-col l6 w3-padding-large">
            <img th:src="'data:image/jpeg;base64,'+${recipe.get().image}" class="w3-round w3-image w3-opacity-min"
                 alt="Menu" style="width:100%">
        </div>

        <div sec:authorize="hasRole('ADMIN')">
            <button v-on:click="deleteRecipe" class="w3-button w3-black" th:text="#{delete}">Delete</button>
        </div>
    </div>
</div>
<script src="/scripts/recipe_details.js"></script>
</body>
</html>